/* 
500
600
768
900
1024
1280
*/

@media screen and (min-width: 500px) {
    .shopping-cart__items__product {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-lg);
    }

    .shopping-cart__items__product__img {
        width: 30%;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    
    .product {
        display: flex;
        flex-direction: column; 
        justify-content: space-between; 
        height: 100%;
        gap: var(--spacing-lg);
    }
    
    .product__description {
        margin-bottom: auto; 
    }
}

@media screen and (min-width: 768px) {
    .shopping-cart__items {
        width: 50%;
    }

    .products {
        gap: 3rem;
    }

    .products-details__img {
        width: 100%;
    } 
}

@media screen and (min-width: 900px) {
    .hero__title {
        color: var(--baseBlack);
    }

    .product-details__back-img {
        display: flex;
        align-items: center;
    }

    .products-details__img {
        width: 100%;
        max-height: 15vh;
    }
    

    .add-to-cart {
        max-height: fit-content;
    }
}

@media screen and (min-width: 1024px) { 
    .shopping-cart__items {
        width: 35%;
    }

    .form-checkout {
        width: 80%;
    }
}

@media screen and (min-width: 1400px) {
    .shopping-cart__items {
        width: 25%;
    }

    .products-scroll {
       overflow-x: hidden;
    }
    
    .shopping-cart__items__product__details__qtd {
        justify-content: start;
    }

    .main {
        display: flex;
        align-items: center;
    }

    .product-details__description {
        width: 50%;
    }

    .products-details  {
        flex-direction: row;
        gap: var(--spacing-xl);
        align-items: center;
        height: 57vh;
    }

    .products-details__img {
        max-height: 30vh;
    }

    .shopping-cart__items__product__details__qtd {
        width: 300px;
    }

    .add-to-cart {
        max-width: 20%;
        margin-top: 0;
    }

}